.super-title{
	font-family: 'Indie Flower', cursive;
	color:white;
	margin-left:10px;
	vertical-align: middle;
}

.thumb{
	margin:20px;
}

.intro{
	font-size:25px;
	color:white;
	margin-left:20px;
	margin-top:0px;
}

.questionMark{
		margin:0px;
		padding:0px;
		}

body{
	background-color: #1c6d7f;
}