<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Arregla tu musica</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">
		
    </head>
    <body>
    <div class="container">
       	<div class="col-md-12">
				<hr>
                <h1 class="super-title"> Arregla tu música </h1>
				<hr>
            </div>
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="row">
			<div class="col-md-12">
				<ul>
					{% for message in messages %}
						<li class="super-title"> {{message}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% if val==0 %}
		<div class="row">
			<div class="col-md-4 text-right">
				<h2 class="super-title">Arreglar Música?</h2>
			</div>
			<div class="col-md-4">
				</br>
				<form action ="{{url_for('fixSongs',path=path,val=2)}}" method='POST'>
				<input type='submit' value='Arreglar'>
			</div>
		</div>
		{% endif %}
		{% endif %}
		{% endwith %}
		{% if val == 1 %}
		<div class="row">
			<div class="col-md-4">
                <h2 class="super-title intro text-right"> Introduce la dirección de tus canciones aqui: </h2>
			</div>
			<div class="col-md-4">
				<form action ="{{url_for('fixSongs',val=False)}}" method='POST'>
				<input type='text' size='30' name='path' placeholder='Path'>
				<input type='submit' value='Arreglar'>
			</div>
			<div class="col-md-4 questionMark">
				<img class="img-responsive" src="/static/images/question.png" width="15%"" alt="Question Mark">
			</div>
	   </div>
		{% endif %}
		{% if val==2%}
		<div class="row">
			<div class="col-md-3 text-right">
                <h2 class="super-title intro"> Volver al inicio?</h2>
			</div>
			<div class="col-md-9">
				<form action ="{{url_for('gSong')}}" method='GET'>
				<input type='submit' value='Volver'>
			</div>
	   </div>
	   {% endif %}
    </div>
    </body>
</html>