<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Descarga MP3</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">
		
    </head>
    <body>
    <div class="container">
       <div class="row">
			<div class="col-md-12">
                <h1 class="super-title text-center"> Descarga y arregla tu música </h1>
				<hr>
            </div>
	   </div>
       <div class="row">
			<div class="col-md-12">
                <h2 class="super-title"> Descarga la música que quieras </h2>
				<hr>
            </div>
	   </div>
	   	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="row">
			<div class="col-md-12">
				<ul>
					{% for message in messages %}
						<li class="super-title"> {{message}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% endwith %}
	   <div class="row">
			<div class="col-md-4">
                <h2 class="super-title intro"> Introduce la url del video aqui: </h2>
			</div>
			<div class="col-md-4">
				<form action ="{{url_for('gSong')}}" method='POST'>
				<input type='text' size='30' name='songUrl' placeholder='Url'>
				<input type='text' size='30' name='path' placeholder='Path'>
				<input type='submit' value='Descargar'>
			</div>
			<div class="col-md-4 questionMark">
				<img class="img-responsive" src="/static/images/question.png" width="15%"" alt="Question Mark">
			</div>
	   </div>
	   <div class="row">
			<div class="col-md-12">
                <h2 class="super-title"> Arregla la música que quieras </h2>
				<hr>
            </div>
	   </div>
	   <div class="row">
			<div class="col-md-6">
                <a class="super-title" href='{{url_for("fixSongs")}}'>Arreglar</a>
			</div>
			<div class="col-md-6 questionMark">
				<img class="img-responsive" src="/static/images/question.png" width="15%"" alt="Question Mark">
			</div>
	   </div>
		</div>
    </body>
</html>